<div>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="auth-username">Username</label>
      <input type="email" name="username" id="auth-username" placeholder="jd@example.com" [(ngModel)]="username">
    </div>
    <div>
      <label for="auth-password">Password</label>
      <input type="password" name="password" id="auth-password" placeholder="MyÜberZ3cureP455w0!d" [(ngModel)]="password">
    </div>
    <div>
      <button type="submit">Login</button>
    </div>

  </form>
  <div>
    <h3>The stuff:</h3>
        <ul>
          <li>username: {{ username }}</li>
          <li>password: {{ password }}</li>
        </ul>
  </div>
  <div *ngIf="token$ | async">
    <h3>Login stuff:</h3>
    <ul>
      <li>name: {{ (token$ | async)?.user.firstName }} {{ (token$ | async)?.user.lastName }}</li>
      <li>email: {{ (token$ | async)?.user.email }}</li>
    </ul>
    <img src="{{(token$|async)?.user.profilePictureUrl}}" alt="">
  </div>
</div>